img {
  width: 30%;
  height: 30%;
  margin: 5px;
}
.chef {
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  width: 20%;
  height: 30%;
}
.prep{
  width: 10%;
  height: 10%;
}
 p,li{
  font-family: sans-serif;
  line-height: 1.5;
}
p {
  margin: 5px;
  padding: 2px;
}

h1{
  color: #422f91;
  font-family: sans;
  font-weight: bold;
  margin: 3px;
}

h2{
  border-bottom: solid 1px black;
  font-family: sans;
  margin: 3px
  ;
}
  


footer {
  font-size: 1em;
  
}
.list {
  list-style: none;
}

html{
  background-color: #e9e8f6;
}
